*{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

.header{
    background-color: #FFF;
    grid-column-start: 2;
}

.sidebar{
    background-color: #0284c7;
    grid-column: 1/2;
    grid-row: 1/ span 2;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 100px 30% 20%;
    padding-left: 1rem;

}

a{
    text-decoration: none;
    color: #FFF;  
}

.sidebar h1{
    color: #FFF;
    align-self: center;
    
}

h1{
    /* display: grid;
    grid-template-columns: 20% 1fr;
    justify-content: center */
    display: flex;
    align-items: center;
    gap: 1rem;
}

h1 svg{
    width: 40px;
    fill: #FFF;
}

ul{
    list-style-type: none;
    font-weight: bold;
}

li svg{
    width: 25px;
    fill: #FFF;
}

li a{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-1, .menu-2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main{
    background-color: #e0f2fe;
    grid-column-start: 2;
    grid-row-start: 2;
}